body {
    font-family: "Arial", sans-serif;
    background-color: #edeef0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

.home {
    height: 100vh;
}

.content {
    border: 1px solid #e2e2e2;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 0 5px -4px rgba(128, 128, 128, 0.69);
    background: white;
    padding: 40px 0;
}

.content__info {
    margin-top: 20px;
}

.content__info-img {
    width: 80px;
    height: 80px;
}

.content__info-btn {
    margin-top: 20px;
    border: 1px solid #000;
    border-radius: 4px;
}

.content__info-btn:hover {
    background-color: #edeef0;
}

ul.errorlist{
    color: red;
    list-style: none;
    font-size: 12px;
}

.avatar-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.block{
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    box-shadow: 0 0 5px -4px rgba(128, 128, 128, 0.69);
    background: white;
    padding: 10px;
    margin: 5px;
}

.left-menu a{
    display: block;
    line-height: 30px;
    color: rgb(20, 93, 148);
}

.navbar {
    width: 100%;
    background-color: #fff;
    padding: 8px 0;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin-bottom: 0;
    align-items: center;
}

.navbar-menu-search {
    padding: 5px 0 5px 34px;
    background-color: #edeef0;
    border-radius: 8px;
    font-size: 15px;
    border: none;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22.92%22%3E%3Cpath%20opacity%3D%22.1%22%20d%3D%22M0%200H16V16H0z%22%2F%3E%3Cpath%20d%3D%22M6.5%201a5.5%205.5%200%200%201%204.383%208.823l3.896%203.9a.75.75%200%200%201-1.061%201.06l-3.895-3.9A5.5%205.5%200%201%201%206.5%201zm0%201.5a4%204%200%201%200%200%208%204%204%200%200%200%200-8z%22%20fill%3D%22%23818c99%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 10px;
    background-repeat: no-repeat;
}

.navbar-menu-search:focus {
    outline: none;
}

.navbar-menu-item > a {
    text-decoration: none;
    color: #000;
}

.navbar-menu-item:nth-child(2),
.navbar-menu-item:nth-child(3) {
    margin-left: 30px;
}

.navbar-menu-item:nth-child(3) {
    color: #6f7985;
}

.navbar-menu-item:nth-child(4) {
    margin-left: auto;
    margin-right: 5px;
}

.navbar-menu-item:nth-child(4):first-letter {
    text-transform: uppercase;
}

.logout-btn {
    text-decoration: none;
    color: #000;
}

.logout-btn:hover {
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.mainpage-avatar-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.right-menu-links{
    margin-top: 20px;
}

.right-menu-links a{
    margin-top: 10px;
    margin-bottom: 5px;
}

.container-profile {
    width: 960px;
    margin: 0 auto;
}

.profile {
    margin-top: 15px;
}

.profile-col-1 {
    width: 160px;
}

.profile-col-2 {
    width: 230px;
    margin-left: 40px;
}

.profile-col-3 {
    width: 510px;
    height: 225px;
    padding: 15px;
    padding-left: 18px;
    margin-left: 20px;
    background-color: #fff;
}

.profile-info-name {
    display: flex;
    justify-content: space-between;
}

.profile-info-name span {
    font-size: 13px;
    color: #939393;
}

.profile-status {
    font-size: 13px;
}

.profile-status:first-letter {
    text-transform: uppercase;
}

.profile-info-name h2 {
    font-size: 21px;
    text-transform: capitalize;
}

.profile-info-block {
    padding: 15px 0;
}

.profile-info-block2 {
    border-bottom: 1px solid #dce1e6;
}

.profile-info-block-item {
    display: flex;
    margin-bottom: 7px;
}

.profile-info-block-text2 {
    color: #2a5885;
    font-size: 13px;
}

.profile-info-block-text {
    width: 165px;
    font-size: 13px;
    color: #818c99;
}

.profile-row {
    display: flex;
}

.profile-card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #fff;
    border-radius: 4px;
}

.profile-card-btn {
    text-align: center;
    margin-top: 13px;
    padding: 6px 0;
    background-color: #e5ebf1;
    text-decoration: none;
    color: #55677d;
    font-size: 12px;
    letter-spacing: 0.3px;
    border-radius: 4px;
}

.profile-card-btn:hover {
    color: rgba(85, 103, 125, 0.8);
}

.profile-nav {
    list-style: none;
}

.profile-nav-item {
    padding: 3px 5px;
    width: 160px;
}

.profile-nav-item:hover {
    background-color: rgba(174, 183, 194, 0.12);
    cursor: pointer;
}

.profile-nav-link {
    text-decoration: none;
}

.profile-nav-link-text {
    margin-left: 7px;
    font-size: 12px;
    letter-spacing: 0.3px;
    color: #000;
}

.edit-profile {
    display: flex;
    justify-content: center;
}

.edit-profile-card {
    width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
}

.edit-profile-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}

.edit-profile-label {
    width: 200px;
    text-align: right;
    margin-right: 15px;
    color: #656565;
    font-size: 13px;
}

.edit-profile-card-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.edit-profile-card-item > textarea {
    resize: none;
    width: 300px;
    height: 20px;
}

.edit-profile-card-item > input,
 .edit-profile-card-item > select {
    width: 300px;
    height: 38px;
    border-radius: 4px;
}

.edit-profile-btn {
    font-size: 13px;
    padding: 7px 32px;
    background-color: #5181b8;
    color: #fff;
    border: none;
    margin-top: 25px;
    border-radius: 4px;
}

.edit-profile-btn:hover {
    background-color: rgba(81, 129, 184, 0.9);
}

.form-label {
    margin-bottom: 0;
}

.avatar-img {
    border: none;
}

.create-new-post {
    width: 550px;
    margin-left: 38px;
}

.small-img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.card {
    border-radius: 4px;
    margin-top: 15px;
}

.card-body-padding {
    padding-bottom: 0;
}

.card-body-item {
    margin-left: 3px;
}

.post-author {
    padding-top: 8px;
    font-size: 14px;
    margin-left: 12px;
    text-transform: capitalize;
    color: #2a5885;
}

.post-date {
    color: #626d7a;
    font-size: 13px;
}

.arrow-down {
    padding-top: 2px;
    margin-right: 5px;
    margin-left: auto;
}

.arrow-down > img {
    width: 12px;
    height: 12px;
}

.post-text {
    margin-left: 8px;
}

.post-text > p {
    margin-bottom: 0;
}

.navbar-img {
    width: 43px;
    height: 43px;
    border-radius: 50%;
}

.linebreak {
    margin: 0 5px;
}

.create-post-img {
    width: 37px;
    height: 37px;
    border-radius: 50%;
}

.create-post-block {
    width: 51px;
}

.create-post-text {
    border: none;
    font-size: 13px;
    letter-spacing: 0.2px;
}

.create-post-text:focus {
    font-size: 18px;
}

.card-footer {
    background-color: #fff;
    padding-left: 0;
    padding-top: 15px;
}

.card-footer__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.card-footer__list-item {
    margin-right: 11px;
}

.card-footer__list-item,
.card-footer__list-item {
    position: relative;
}

.card-footer__list-item:nth-child(1),
.card-footer__list-item:nth-child(2) {
    margin-right: 25px;
}

.card-footer__list-item:nth-child(1)::before,
.card-footer__list-item:nth-child(2)::before {
    content: "";
    position: absolute;
    right: -12px;
    top: 8px;
    width: 1px;
    height: 12px;
    background-color: rgba(129, 140, 153, 0.3);
}

.card-footer__list-item svg {
    color: #818c99;
}

.card-footer__list-item svg:hover {
    color: rgba(129, 140, 153, 0.8);
    cursor: pointer;
}

.card-footer__list-item-img {
    width: 20px;
    height: 20px;
}

.card-footer__list-item-else {
    font-size: 12.5px;
    color: rgba(42, 88, 133, 0.8);
}

.card-footer__list-item:nth-child(8) {
    margin-left: 80px;
}

.card-footer__list-item:last-child {
    margin-right: 0;
}

.publish-btn {
    margin-top: 0;
    padding: 6px 18px;
}

.post-margin {
    margin-bottom: 10px;
}

#image {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.post-footer ul {
    list-style: none;
}

.post-footer__item {
    margin-right: 25px;
}

.post-footer__item:last-child {
    margin-right: 17px;
    margin-left: auto;
}

.post-footer-block {
    padding-left: 20px;
}

.post-like,
.post-comment,
.post-share {
    width: 24px;
    height: 24px;
    margin-right: 6px;
}

.post-views {
    width: 14px;
    height: 10px;
    margin-right: 7px;
}

.post-like-count,
.post-comment-count,
.post-share-count {
    font-size: 15px;
    color: #626d7a;
    font-weight: bold;
}

.post-views-count {
    color: #626d7a;
    font-size: 14px;
}

.hidden {
    display: none !important;
}

.post-body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.errorlist {
    padding-left: 0;
}

.form-error {
    color: red;
}